.pvc{
    background-image: url(./assests/2289977149.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 20px;
}

.col-lg-4>a > .img-div{
    height: 400px;
    border-radius: 20px;
}
.col-lg-4>.img-div{
    height: 400px;
    border-radius: 20px;
}
.wooden{
    background-image: url(./assests/wooden.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 20px;
}

.display{
    background-image: url(./assests/display.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 20px;
}
.cm60{
    background-image: url(./assests/60cm\ PVC.jpg);
    background-color: #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 20px;
}